<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="splash-head"><span class="bridgeit-font">Revolutionize Your HTML5 Applications</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bannerLeft">
                <h2 class="hybrid-client"><span class="bridgeit-font">Hybrid Client:</span></h2>
                <h1>Fashion hybrid mobile applications with ease.</h1>
                <div class="row">
                    <div class="col-xs-6 bannerImage">
                        <img alt="BridgeIt Banner" src="/hybrid-cns/images/bridgeit-hybrid-mobile-app.png"/>
                    </div>
                    <p class="col-xs-6 splash-buttons hidden-xs bannerButtons">
                        <a class="btn grey" href="hybrid/bridgeit.html#features">
                            Features <i class="fa fa-th-list"></i>&nbsp;
                        </a><br/>
                        <a class="btn grey" href="hybrid/bridgeit.html#demos">
                            Demos <i class="fa fa-play-circle"></i>&nbsp;
                        </a><br/>
                        <a class="btn btn-warning" href="hybrid/help.html">
                            Get Started <i class="fa fa-arrow-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 bannerRight">
                <h2><span class="bridgeit-font">Contextual Notification System:</span></h2>
                <h1>Push notifications tailored to any circumstance.</h1>
                <div class="row">
                    <div class="col-xs-6 bannerImage">
                        <img alt="BridgeIt Banner" src="/hybrid-cns/images/bridgeit-hybrid-mobile-app.png"/>
                    </div>
                    <p class="col-xs-6 splash-buttons hidden-xs bannerButtons">
                        <a class="btn grey" href="notify/notify.html#features">
                            Features <i class="fa fa-th-list"></i>&nbsp;
                        </a><br/>
                        <a class="btn grey" href="notify/notify.html#demos">
                            Demos <i class="fa fa-play-circle"></i>&nbsp;
                        </a><br/>
                        <a class="btn btn-warning" href="notify/help.html">
                            Get Started <i class="fa fa-arrow-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 visible-xs">
                <p class="splash-buttons">
                    <a class="btn grey" href="hybrid/bridgeit.html#features">
                        Features <i class="fa fa-th-list"></i>&nbsp;
                    </a><br/>
                    <a class="btn grey" href="hybrid/bridgeit.html#demos">
                        Demos <i class="fa fa-play-circle"></i>&nbsp;
                    </a><br/>
                    <a class="btn btn-warning" href="hybrid/help.html">
                        Get Started <i class="fa fa-arrow-right"></i>&nbsp;
                    </a>
                </p>
            </div>
            <div class="col-xs-12 visible-xs">
                <p class="splash-buttons">
                    <a class="btn grey" href="notify/bridgeit.html#features">
                        Features <i class="fa fa-th-list"></i>&nbsp;
                    </a><br/>
                    <a class="btn grey" href="notify/bridgeit.html#demos">
                        Demos <i class="fa fa-play-circle"></i>&nbsp;
                    </a><br/>
                    <a class="btn btn-warning" href="notify/help.html">
                        Get Started <i class="fa fa-arrow-right"></i>&nbsp;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>